/*****************************
           Home Page
*****************************/
.description {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: justify;
}
.row {
  margin: 20px;
}

.button {
  color: blue;
  text-align: justify;
}
.name {
  font-size: 60;
  font-family: rubik, sans-serif;
  font-weight: 600;
  color: white;
  text-align: justify;
}
.work {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gold;
  text-align: justify;
}
.experience {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: justify;
}
.skillo {
  padding: 20px;
}
.uti {
  display: flex;
}
.about {
  padding: 0%;
}
.BG {
  background-color: black;
  padding: inherit;
}
.Card {
  height: 200px;
  width: auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Set the container height to the full viewport height */
}

/* Dark black background color for the card body */
.card-body {
  background-color: #000;
  color: #c0c0c0; /* Silver text color */
}

/* Dark navy background color for the card */
.card {
  background-color: #000;
  color: #c0c0c0; /* Silver text color */
}

/* Dark black background color for the button */
.btn-primary {
  background-color: #000;
  border-color: #000;
}
