/* Home Page Styles */
.description {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: justify;
}

.name {
  font-size: 60px; /* Add 'px' unit */
  font-family: rubik, sans-serif;
  font-weight: 600;
  color: white;
  text-align: justify;
}

.work {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gold;
  text-align: justify;
}

.experience {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: justify;
}

/* Additional Styles */
.about {
  padding: 0;
}

.uti {
  display: flex;
}

.BG {
  background-color: black;
  padding: inherit;
}

.card-body {
  background-color: #000;
  color: #fff; /* Change to white text color */
}

.card {
  background-color: #000;
  color: #fff; /* Change to white text color */
}

.btn-primary {
  background-color: #000;
  border-color: #fff; /* Change to white border color */
  color: #fff; /* Change to white text color */
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Set body text color to white for all elements */
.home,
.about,
.skill,
.card-body {
  color: white;
}
