/* Override global background and text-color styles */
.container-primary {
  background-color: #050505; /* First color */
  color: #11100f; /* Contrasting light color for text */
}

.container-secondary {
  background-color: #3C5B6F; /* Second color */
  color: #DFD0B8; /* Light color for readability */
}

.container-tertiary {
  background-color: #948979; /* Third color */
  color: #1A3636; /* Darker text color for contrast */
}

.container-quaternary {
  background-color: #DFD0B8; /* Fourth color */
  color: #1A3636; /* Darker text color */
}
