body {
  font-family: "Rubik", sans-serif;
  background-color: #171616;
  color: white;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

#description {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: justify;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  color: #3498db;
  text-align: justify;
}

.name {
  font-size: 60px;
  font-weight: 600;
  color: white;
  text-align: justify;
}

#work {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gold;
  text-align: justify;
}

#experience {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: justify;
}
.description {
  width: 10px;
  height: 20vh;
}

.BG {
  background-color: #e4e2e2;
  padding: 0px;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillo {
  font-family: "Arial", sans-serif;
  font-size: small;
  color: white;
}

.ut {
  color: #3498db;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.uti ul {
  list-style-type: square;
  margin-left: 20px;
  display: flex;
  color: silver;
  align-items: normal;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .name {
    font-size: 40px;
  }

  .ut {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* Responsive styles for medium-sized screens */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* Add responsive styles for medium-sized screens */
}

/* Responsive styles for larger screens */
@media screen and (min-width: 1201px) {
  /* Add responsive styles for larger screens */
}
